<template>
  <div class="projects-wrapper">
  	<dawn-title-nav :title="$route.name"></dawn-title-nav>
  </div>
</template>

<script>
export default {
  name: 'MobileProjects'
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
</style>