<template>
  <div class="widget-wrapper">
    <div class="widget-header">
      <span class="widget-icon widget-drag-icon" v-if="draggable === 'true'">
        <i class="fa fa-align-justify"></i>
      </span> 
      <span class="widget-title">{{title}}</span>
      <span class="widget-action-icons">
        <span class="widget-icon widget-settings-icon">
          <i class="fas fa-cog"></i>
        </span>
        <span class="widget-icon widget-duplicate-icon">
          <i class="fas fa-clone"></i>
        </span>
        <span class="widget-icon widget-trash-icon">
          <i class="fas fa-trash"></i>
        </span>
      </span>
      <span class="widget-secondary">
        <span class="widget-icon widget-secondary-action">
          Report Detail
        </span>
      </span>
    </div>
    <div class="widget-sub-header">
      <dawn-select :options="options1" class="widget-select" />
    </div>
    <div class="widget-body">
      <p>Widget Content</p>
      <p>Widget Content</p>
      <p>Widget Content</p>
    </div>
  </div>
</template>

<script>
export default {
  name: 'dawn-widget',
  props: {
    title: String,
    draggable: {
      type: String,
      default: 'false'
    }
  },
  data () {
    return {
      options1: ['All Programs', 'Other Options', 'More Options']
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<!-- Note: widget-select styles are inside dawnSelect component file -->
<style scoped lang="scss">
@import "~@/assets/sass/_variables.scss";

.widget-wrapper{
  margin-bottom: 1rem;
}

.widget-header {
  display:block;
  border-radius: $border-radius + .2rem  $border-radius + .2rem 0rem 0rem;
  padding: .4rem .3rem;
  @include themify() {
    color: getThemifyVariable('canvas');
    background: getThemifyVariable('primary-04');
  }

  .widget-title {
    font-weight: $font-weight-bold;
    margin-right:1rem;
  }

  .widget-icon {
    opacity: .3;
    font-size: $font-size-xsmall;
    margin-right: 1rem;
    &:hover {
      opacity: 1;
      cursor: pointer;
    }
  }

  .widget-secondary {
    display:inline-block;
    float:right;
    
    .widget-secondary-action {
      font-size: $font-size-xsmall;
    }

  }
}

.widget-sub-header {
  padding: .3rem;
  @include themify() {
    background: getThemifyVariable('primary-02');
  }

  .form-group {
    margin-bottom: 0;
  }
}

.widget-body {
  padding: .3rem;
  border-top: none;
  border-left: $border-width-default solid;
  border-right: $border-width-default solid;
  border-bottom: $border-width-default solid;
  @include themify() {
    border-color: getThemifyVariable('background');
  }
}

</style>