<template>
  <div class="form-group">
    <label v-if="fieldLabel">{{fieldLabel}} <span v-if="required"> &nbsp*</span>
      <div class="helptip-wrapper">
        <span class="helptip-icon" v-if="helptipBody" @click="toggleHelp()"><i :class="[showHelp ? hideIcon : showIcon]"></i></span>
        <dawn-input-tooltip :class="{'error-message' : error}" v-if="helptipBody && showHelp || helptipBody && error" :helptipHeader="helptipHeader" :errorTip="error" :helptipBody="helptipBody"></dawn-input-tooltip>
      </div>
    </label>
    <div class="form-inline d-flex justify-content-between">
        <slot name="field1" ></slot>
        <slot name="field2" ></slot>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'dawn-field-group',
    props: {
      fieldLabel: String,
      required: Boolean,
      helpText: String,
      helptipHeader: String,
      helptipBody: String,
      error: Boolean
    },
    data () {
      return {
        showHelp: false,
        showIcon: 'fas fa-question-circle',
        hideIcon: 'far fa-times-circle'
      }
    },
    methods: {
      toggleHelp () {
        this.showHelp = !this.showHelp
      }
    }
  }
</script>

<style scoped lang="scss">

div.form-inline {
  div {
    width:48.5%;
  }
}

.helptip-icon {
  &:hover {
    cursor: pointer;
  }
}

.helptip-wrapper {
  display: inline-block;
  position: relative;
}

.dawn-input-tooltip {
  top: -110%;
  width: 2600%;
  left: 230%;
}

</style>