<template>
  <div class="reports-wrapper">
    <dawn-title-nav :title="$route.name"></dawn-title-nav>
    <dawn-tab-nav class="main-body">
      <dawn-tab title="Sales Reports" :active="true">
        Tab 1 Content
      </dawn-tab>
      <dawn-tab title="Other Reports">
        Tab 2 Content
      </dawn-tab>
    </dawn-tab-nav>
  </div>
</template>

<script>
export default {
  name: 'Reports'
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
</style>