<template>
  <nav v-bind:class="navClass">
      <ul class="nav nav-pills flex-column">
        <span v-for="navItem in navItems">
          <item :title="navItem.title" :href="navItem.href">
            <span class="toggle" slot="toggle" v-if="navItem.children" @click="toggle(navItem)">
              <span v-if="!navItem.isOpen">
                <i class="fa fa-plus-circle"></i>
              </span>
              <span v-if="navItem.isOpen">
                <i class="fa fa-minus-circle"></i>
              </span>
            </span>
          </item>
          <div class="sub-menu" v-if="navItem.children" v-show="navItem.isOpen">
            <item v-for="child in navItem.children" :key="child.title" :title="child.title" :href="child.href"/>
          </div>
        </span>
      </ul>
  </nav>
</template>
<script>
  import Item from './item'

export default {
    props: {
      navClass: String
    },
    components: {
      Item
    },
    data () {
      return {
        navItems: [
          {isOpen: false, title: 'Introduction', href: '/introduction', children: null},
          {isOpen: false,
            title: 'Colors',
            href: '/docs/colors',
            children: [
              {title: 'Color Guidelines',
                href: '/docs/colors/color-guidelines'},
              {title: 'Color Palette',
                href: '/docs/colors/color-palette'},
              {title: 'Color Combinations',
                href: '/docs/colors/color-combinations'},
              {title: 'Color Usage',
                href: '/docs/colors/color-usage'},
              {title: 'Accessibility',
                href: '/docs/colors/accessibility'}
            ]},
          {isOpen: false,
            title: 'Structure',
            href: '/docs/structure',
            children: [
              {title: 'Auth Layout',
                href: '/docs/structure/auth-layout'},
              {title: 'Page Sections',
                href: '/docs/structure/page-sections'},
              {title: 'Modals',
                href: '/docs/structure/modals'},
              {title: 'Cards',
                href: '/docs/structure/cards'},
              {title: 'Attention Box',
                href: '/docs/structure/attention-box'},
              {title: 'Panels',
                href: '/docs/structure/panels'}
            ]},
          {isOpen: false,
            title: 'Navigation',
            href: '/docs/navigation',
            children: [
              {title: 'Primary Nav',
                href: '/docs/navigation/primary-nav'},
              {title: 'Secondary Nav',
                href: '/docs/navigation/secondary-nav'},
              {title: 'Meta Nav',
                href: '/docs/navigation/meta-nav'},
              {title: 'Title Nav',
                href: '/docs/navigation/title-nav'},
              {title: 'Tab Nav',
                href: '/docs/navigation/tab-nav'}
            ]},
          {isOpen: false,
            title: 'Buttons',
            href: '/docs/buttons',
            children: null},
          {isOpen: false,
            title: 'Forms',
            href: '/docs/forms',
            children: [
              {title: 'Text Field',
                href: '/docs/forms/text-field'},
              {title: 'Numeric Field',
                href: '/docs/forms/numeric-field'},
              {title: 'Datepicker Field',
                href: '/docs/forms/datepicker-field'},
              {title: 'Select Field',
                href: '/docs/forms/select-field'},
              {title: 'Checkbox Field',
                href: '/docs/forms/checkbox-field'},
              {title: 'Radio Field',
                href: '/docs/forms/radio-field'},
              {title: 'Text Area Field',
                href: '/docs/forms/text-area-field'},
              {title: 'File Upload Field',
                href: '/docs/forms/file-upload-field'},
              {title: 'Form Building',
                href: '/docs/forms/form-building'}
            ]},
          {isOpen: false,
            title: 'Back to Demo',
            href: '/#',
            children: null}
        ]
      }
    },
    methods: {
      toggle (navItem) {
        navItem.isOpen = !navItem.isOpen
      }
    }
  }
</script>

<style lang="scss">
.sub-menu {
      padding-left: 3em;
}

.toggle {
  float:right;
}
</style>