<template>
  <router-link class="nav-item" tag="li" :to="href" active-class="active" exact="exact">
    <a :href="href">
      <i class="material-icons text-gray">{{icon}}</i>
        {{title}}
    </a>
    <slot name="toggle"></slot>
  </router-link>
</template>

<script>
  export default {
    props: {
      icon: String,
      title: String,
      href: String
    }
  }
</script>