<template>
  <div class="docs-wrapper">
    <router-view />
  </div>
</template>

<script>
export default {
  name: 'DocsWrapper'
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">

@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');
  
  .component-name, .component-description {
    font-family: 'Source Code Pro', monospace;
  }

  .docs-wrapper {
  	.card-content {
  		padding: 1rem;
  	}
  }

  pre {
  	background: #e3e3e3;
  	padding-left: 0;
  	border-radius: 3px;
  }

</style>
