<template>
  <header class="dawn-meta-nav">
    <div class="container-fluid">
      <ul class="meta-nav-menu">
        <li class="meta-nav-item">
          <a href="#"><i class="fal fa-question-circle"></i></a>
        </li>
        <li class="meta-nav-item">
          <a href="#"><i class="fas fa-bell"></i></a>
        </li>
        <li class="meta-nav-item meta-nav-user meta-nav-dropdown">
          <a @click='showDropdown = !showDropdown'>your.name@email.com <i class="fa fa-caret-down"></i></a>
          <div class="meta-nav-dropdown" v-if="showDropdown">
            <ul class="meta-nav-dropdown-menu">
              <li class="meta-nav-dropdown-title">
                <span>your.name@email.com</span>
                <span class="close-icon" @click='showDropdown = !showDropdown'><i class="fal fa-times"></i></span>
              </li>
              <li class="meta-nav-dropdown-item">
                <a href="#">My Profile</a>
              </li>
              <li class="meta-nav-dropdown-item">
                <a href="#">My Settings</a>
              </li>
              <li class="meta-nav-dropdown-item">
                <a href="/#/login">Logout</a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </header>
</template>

<script>
export default {
  name: 'dawn-meta-nav',
  data () {
    return {
      showDropdown: false
    }
  }
}
</script>

<style scoped lang="scss">
@import "~@/assets/sass/_variables.scss";

.dawn-meta-nav {
  display: block;
  width: 100%;
  padding:.3rem $side-padding;
  text-align: right;
  font-size: $font-size-small;
  @include themify() {
    background: getThemifyVariable('primary-05');
  }
}

ul.meta-nav-menu {
  display: inline-block;
  list-style:none;
  padding:0;
  position:relative;
  text-align: left;
  margin-bottom:0;

  li.meta-nav-item {
    display: inline-block;
    margin:0rem .5rem;

    a {
      @include themify() {
        color: getThemifyVariable('canvas');
      }
      opacity:0.3;
      transition: opacity .5s ease-out;
      &:hover {
        opacity:1;
        text-decoration: none;
        cursor:pointer;
      }
    }
  }

  li.meta-nav-user {
    margin-left:2rem;
  }

  div.meta-nav-dropdown {
    position:absolute;
    top: -.3rem;
    left: 1rem;
    @include themify() {
      background: getThemifyVariable('canvas');
    }
    box-shadow: $box-shadow;
    padding:0rem 1rem 1rem 1rem;
    width:100%;
    z-index: 9999;

    ul.meta-nav-dropdown-menu {
      list-style:none;
      padding:0;

      li.meta-nav-dropdown-title {
        font-weight: $font-weight-bold;
        margin-bottom:.3rem;
        @include themify() {
          color: getThemifyVariable('primary-05');
        }

        span.close-icon {
          @include themify() {
            color: getThemifyVariable('primary-05');
          }
          position: absolute;
          right: 1rem;
          top: .1rem;
          &:hover {
            cursor: pointer;
          }
        }
      }

      li.meta-nav-dropdown-item {
        border-radius: $border-radius;
        padding:.3rem 0rem;
        a {
          padding: .5rem;
          @include themify() {
            color: getThemifyVariable('primary-05');
          }
          opacity:1;
          font-size: $font-size-xsmall;
          line-height: 1rem;
        }

        &:hover {
          @include themify() {
            background: getThemifyVariable('background-light');
          }
          transition: all .5s ease-out;
        }

      }
    }
  }

}

</style>