<template>
  <div class="content">
    <div class="container-fluid">
      <div class="card">
        <div class="card-header">
          <h4 class="title">Color Palette
            <span class="component-name">$colors</span>
          </h4>
          <p class="component-description">The Dawn UI Color Palette, compiled in Sass.</p>
        </div>
          <div class="card-content">
            <div class="row">
              <div class="col-md-10"><h5 class="section-header">Colors</h5>
              	<swatch :swatches="binaryColors"/>
              	<swatch :swatches="coreColors"/>
              	<swatch :swatches="purpleColors"/>
              	<swatch :swatches="blueColors"/>
              	<swatch :swatches="greenColors"/>
              	<swatch :swatches="yellowColors"/>
              	<swatch :swatches="redColors"/>
              </div>
              <div class="col-md-2">
                <!-- Another column, if you need it !-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </template>

  <script>
  import Swatch from '@/components/Docs/Colors/swatch.vue'
  export default {
    name: 'ColorPalette',
    data () {
      return {
        binaryColors: [
          {name: 'White', variable: '$white', hex: '#ffffff', color: 'dark', alias: ''},
          {name: 'Black', variable: '$black', hex: '#333333', color: 'light', alias: ''}
        ],
        coreColors: [
          {name: 'Ink', variable: '$ink', hex: '#333333', color: 'light', alias: ''},
          {name: 'Very Cloudy', variable: '$very-cloudy', hex: '#7f7f7f', color: 'light', alias: ''},
          {name: 'Cloudy', variable: '$cloudy', hex: '#989898', color: 'light', alias: ''},
          {name: 'Partly Cloudy', variable: '$partly-cloudy', hex: '#cccccc', color: 'dark', alias: ''},
          {name: 'Scattered Clouds', variable: '$scattered-clouds', hex: '#ececec', color: 'dark', alias: ''}
        ],
        purpleColors: [
          {name: 'Early Dawn', variable: '$early-dawn', hex: '#48316b', color: 'light', alias: ''},
          {name: 'Dawn Light', variable: '$dawn-light', hex: '#61407a', color: 'light', alias: ''},
          {name: 'Dawn', variable: '$dawn', hex: '#a885bc', color: 'light', alias: ''},
          {name: 'Dusk', variable: '$dusk', hex: '#51226c', color: 'light', alias: '$brand-primary'},
          {name: 'Dusk Dark', variable: '$dusk-dark', hex: '#481e60', color: 'light', alias: ''}
        ],
        blueColors: [
          {name: 'Ocean', variable: '$ocean', hex: '#60b8d1', color: 'light', alias: ''},
          {name: 'Ocean Light', variable: '$ocean-light', hex: '#7ec5da', color: 'light', alias: ''},
          {name: 'Sky', variable: '$sky', hex: '#cde2e8', color: 'dark', alias: ''},
          {name: 'Sky Light', variable: '$sky-light', hex: '#d6e8ec', color: 'dark', alias: ''}
        ],
        greenColors: [
          {name: 'Grass', variable: '$grass', hex: '#a9d85f', color: 'light', alias: ''},
          {name: 'Greener Grass', variable: '$greener-grass', hex: '#b9df7d', color: 'dark', alias: ''}
        ],
        yellowColors: [
          {name: 'Sunrise', variable: '$sunrise', hex: '#ffba15', color: 'dark', alias: ''},
          {name: 'Sunrise Light', variable: '$sunrise-light', hex: '#ffc740', color: 'dark', alias: ''},
          {name: 'Sunrise Lightest', variable: '$sunrise-lightest', hex: '#ffdf94', color: 'dark', alias: ''}
        ],
        redColors: [
          {name: 'Golden Hour', variable: '$golden-hour', hex: '#ff666e', color: 'light', alias: ''},
          {name: 'Blood Moon', variable: '$blood-moon', hex: '#e02630', color: 'light', alias: ''}
        ]
      }
    },
    components: {
      'swatch': Swatch
    }
  }
</script>

<style lang="scss">
@import "~@/assets/sass/_variables.scss";
	.swatch {
		width:12em;
		height:10em;
		display: inline-block;
		margin:1em 0em 1em 0em;
		padding:1.5em;
		vertical-align: bottom;
    box-shadow: $box-shadow;
    font-size: $font-size-base - 1px;
	}
	.dark {
		color: $ink;
	}
	.light {
		color: $canvas;
	}
</style>