<template>
  <div>
    <h2>This is the color guidelines page</h2>
  </div>
</template>

<script>
export default {
  name: 'ColorGuidelines'
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
