<template>
  <section>
    <div class="swatch" v-for="swatch in swatches" :style="{'background-color': swatch.hex}" :class="swatch.color">
      <p>{{swatch.name}}</p>
      <p>{{swatch.variable}}</p>
      <p>{{swatch.hex}}</p>
    </div>
  </section>
</template>

<script>
  export default {
    name: 'swatch',
    props: {
      swatches: Array
    }
  }
</script>

<style lang="scss" scoped>
</style>
