<template>
  <div class="app-layout-wrapper">
    <dawn-meta-nav></dawn-meta-nav>
    <dawn-primary-nav></dawn-primary-nav>
    <div class="row app-main-body-wrapper">
      <div class="container-fluid">
        <div class="app-main-body col-md-12">
          <slot></slot>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'AppWrapper'
}
</script>

<style lang="scss">
@import "~@/assets/sass/_variables.scss";

body {
  @include themify() {
    background:  getThemifyVariable('background');
  }
  height: 100vh;
}

.app-layout-wrapper {
  @include themify() {
    background:  getThemifyVariable('canvas');
  }
  padding-bottom: 1em;
  height: 100vh;
}

.app-main-body-wrapper {
  margin:.5rem 0rem 0rem;
}

.app-main-body {
  @include themify() {
    background:  getThemifyVariable('canvas');
  }
  padding:0px;
}

</style>