<template>
  <div class="auth-layout-wrapper">
    <div class="auth-header"></div>
    <div class="auth-top">
      <div class="container-fluid">
        <Logo />
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="auth-main-body col-md-4 offset-md-4">
          <slot></slot>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'AuthWrapper'
}
</script>

<style lang="scss">
@import "~@/assets/sass/_variables.scss";

body {
  @include themify() {
    background-color: getThemifyVariable('canvas');
  }
  height: 100vh;
}

.auth-layout-wrapper {
  @include themify() {
    background: getThemifyVariable('background-light');
  }
  padding-bottom: 1rem;
  height: 100vh;
}

.auth-header {
  width: 100%;
  height:.85rem;
  @include themify() {
    background: getThemifyVariable('primary-05');
  }
  padding: 0rem $side-padding;
}

.auth-top {
  width: 100%;
  @include themify() {
    background: getThemifyVariable('primary-04');
  }
  padding: 1rem $side-padding;
}

.auth-main-body {
  @include themify() {
    background: getThemifyVariable('canvas');
  }
  padding:1rem;
  border-radius: $border-radius;
  margin: -2rem auto;
  box-shadow: $box-shadow;
}

</style>