<template>
  <div class="container-fluid docs-layout-wrapper">
    <div class="row">
      <sidenav navClass="col-md-3 sidebar docs-sidebar"></sidenav>
      <main class="docs-main-body">
        <slot></slot>
      </main>
    </div>
  </div>
</template>

<script>
import SideNav from '@/components/Docs/SideNav/index'
export default {
  name: 'DocsWrapper',
  components: {
    sidenav: SideNav
  }
}
</script>