<template>
  <div class="navless-layout-wrapper">
    <div class="navless-layout-header">
      <div class="container-fluid">
        <Logo/>
        <span class="navless-page-name"><h2>{{$route.name}}</h2></span>
        <span class="navless-page-close">
          <router-link v-if="$routerHistory.hasHistory()" :to="{ path: source }">
            Close <i class="fal fa-times-circle"></i>
          </router-link>
        </span>
      </div>
    </div>
    <div class="row navless-main-body-wrapper">
      <div class="container-fluid">
        <div class="navless-main-body col-md-12">
          <slot></slot>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'NavlessWrapper',
  data () {
    return {
      source: null
    }
  },
  created () {
    this.source = this.$routerHistory.previous().path
  }
}
</script>

<style scoped lang="scss">
@import "~@/assets/sass/_variables.scss";

body {
  @include themify() {
    background:  getThemifyVariable('background');
  }
  height: 100vh;
}

.navless-layout-wrapper {
  @include themify() {
    background:  getThemifyVariable('canvas');
  }
  padding-bottom: 1rem;
  height: 100vh;

  span.logo {
    display: inline-block;
    width:14rem;
    vertical-align: middle;
    margin-top:0;
  }
  
  .navless-layout-header {
    padding: $side-padding;
    position:relative;
    height:5rem;

    .navless-page-name {
      display: inline-block;
      position:absolute;
      left:10rem;
      top: 1.5rem;

      h2 {
        font-size: $font-size-large;
      }
    }

    @include themify() {
      background: getThemifyVariable('primary-04');
      color: getThemifyVariable('canvas');
    }

    .navless-page-close{
      text-align: right;
      position: absolute;
      right:$side-padding;
      bottom:1.7rem;
      text-transform:uppercase;
      font-size: $font-size-xsmall;

      a {
        @include themify() {
        color: getThemifyVariable('canvas');
        transition: all .2s ease-in-out;
        }
        &:hover {
          opacity:.3;
          text-decoration:none;
        }
        i {
          font-size: $font-size-xlarge;
          margin-left: .1rem;
          vertical-align: middle;
          margin-top: -0.15rem;
        }
      }

    }

  }

}

.navless-main-body-wrapper {
  margin:0;
}

.navless-main-body {
  @include themify() {
    background:  getThemifyVariable('canvas');
  }
  padding:0rem 1rem;
}

</style>