<template>
  <div class="form-group">
    <label class="control-label" v-if="fieldLabel">{{fieldLabel}} <span v-if="required"> &nbsp*</span>
      <div class="helptip-wrapper">
        <span class="helptip-icon" v-if="helptipBody" @click="toggleHelp()"><i :class="[showHelp ? hideIcon : showIcon]"></i></span>
        <dawn-input-tooltip :class="{'error-message' : error}" v-if="helptipBody && showHelp || helptipBody && error" :helptipHeader="helptipHeader" :errorTip="error" :helptipBody="helptipBody"></dawn-input-tooltip>
      </div>
    </label>
    <radio v-model="value" :name="name" v-for="(option, index) in options" :key="index" :option-index="index" :option-label="option.label" :option-status="option.status"></radio>
  </div>
</template>

<script>
  import Radio from '@/components/core/dawnRadio/radio.vue'
  export default {
    name: 'dawn-radio',
    props: {
      value: String,
      options: Array,
      fieldLabel: String,
      name: String,
      disabled: Boolean,
      required: {
        type: Boolean,
        default: false
      },
      helptipHeader: String,
      helptipBody: String,
      error: Boolean
    },
    components: {
      'radio': Radio
    },
    data () {
      return {
        showHelp: false,
        showIcon: 'fas fa-question-circle',
        hideIcon: 'far fa-times-circle'
      }
    },
    methods: {
      toggleHelp () {
        this.showHelp = !this.showHelp
      }
    }
  }
</script>

<style lang="scss" scoped>

.helptip-icon {
  &:hover {
    cursor: pointer;
  }
}

.helptip-wrapper {
  display: inline-block;
  position: relative;
}

.dawn-input-tooltip {
  top: -110%;
  width: 2600%;
  left: 230%;
}
</style>