<template>
  <span class="logo">
    <img src="~@/assets/images/logo.svg">
  </span>
</template>

<script>
export default {
  name: 'Logo'
}
</script>

<style lang="scss">
@import "~@/assets/sass/_variables.scss";

.logo {
  width:13rem;
  display:block;
  padding-bottom: .75rem;
  margin-top: -1rem;

  img {
    width:50%;
    display:inline-block;
  }

}

</style>