<template>
  <div v-show="isActive" class="dawn-tab">
    <slot></slot>
  </div>
</template>

<script>
export default {
  name: 'dawn-tab',
  props: {
    title: {
      type: String,
      required: true
    },
    active: {
      type: Boolean,
      default: false
    },
    completed: {
      type: Boolean,
      default: false
    },
    icon: Array
  },
  data () {
    return {
      isActive: false,
      isCompleted: false
    }
  },
  computed: {
    href () {
      return '#' + this.$route.path + '#' + this.title.toLowerCase().replace(/ /g, '-')
    },
    iconClass () {
      return this.icon[0] + ' fa-' + this.icon[1]
    }
  },
  mounted () {
    this.isActive = this.active
    this.isCompleted = this.completed
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

.dawn-tab {
  padding-left: .75rem;
  padding-right: .75rem;
}

</style>