<template>
  <div class="dawn-tab-nav-wrapper">
    <div class="dawn-tab-nav">
      <ul>
        <li v-for="tab in tabs" :class="{'is-active': tab.isActive, 'is-completed': tab.isCompleted}" @click="selectTab(tab)">
          <a :href="tab.href">
            <span v-if="tab.icon" class="tab-icon-wrapper">
              <i :class="tab.iconClass"></i>
            </span>
            <span class="tab-title-wrapper">
              {{tab.title}}
            </span>
          </a>
        </li>
      </ul>
    </div>
    <div class="dawn-tab-content">
      <slot></slot>
    </div>
  </div>
</template>

<script>
import Tab from '@/components/core/dawnTabNav/dawnTab.vue'
export default {
  name: 'dawn-tab-nav',
  components: {
    'dawn-tab': Tab
  },
  data () {
    return {
      tabs: []
    }
  },
  created () {
    this.tabs = this.$children
  },
  updated () {
    var tabhash = window.location.hash.split('#')[2]
    var tablinks = this.tabs
    for (var i = 0; i < tablinks.length; i++) {
      if (tablinks[i].title.toLowerCase().replace(/ /g, '-') === tabhash) {
        this.selectTab(tablinks[i])
      }
    }
  },
  methods: {
    selectTab (activeTab) {
      this.tabs.forEach(tab => {
        tab.isActive = (tab.href === activeTab.href)
      })
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
@import "~@/assets/sass/_variables.scss";

.dawn-tab-nav-wrapper {
  margin-left: -15px;
  margin-right: -15px;
}

.uniform {
  li {
    width: 6rem;
    text-align: center;
    height: 7rem;
    vertical-align: top;

    .tab-title-wrapper {
      display: block;
      position: absolute;
      bottom: .5rem;
      left: 0;
      right: 0;
      line-height:1.1;
    }
  }
}

.dawn-tab-nav {
  border-bottom: $border;
  @include themify() {
    border-color: getThemifyVariable('background');
  }

  ul {
    display: inline-block;
    list-style: none;
    padding-left: .75rem;
    padding-right: .75rem;
    margin-bottom:1rem;
    width:100%;
    padding-bottom:.15rem;
    border-bottom: $border-width-default solid $background-light;

    li {
      position:relative;
      display: inline-block;
      margin:.5rem 5.5rem 0rem 0rem;
      padding-bottom:.3em;
      font-weight: $font-weight-bold;
      border-bottom:.2rem solid;
      @include themify() {
        border-color: getThemifyVariable('background-light');
      }
      transition: all .2s ease-in-out;

      &:hover {
        cursor: pointer;
      }

        .tab-icon-wrapper {
          display: block;
          font-size: 2.75rem;
          text-align: center;
          @include themify() {
            color: getThemifyVariable('background-light');
          }
          transition: all .2s ease-in-out;
        }

        a {
          @include themify() {
            color: getThemifyVariable('background-light');
          }
          text-decoration: none;
          transition: all .2s ease-in-out;
        }

    &.is-completed {
       @include themify() {
        border-color: getThemifyVariable('border');
      }

      .tab-icon-wrapper {
        @include themify() {
          color: getThemifyVariable('border');
        }
      }

      a {
        @include themify() {
          color: getThemifyVariable('border');
        }
      }
    }

    &.is-active, &:hover {
      @include themify() {
        border-color: getThemifyVariable('tertiary-01');
      }

      .tab-icon-wrapper {
        @include themify() {
          color: getThemifyVariable('ink');
        }
      }

      a {
        @include themify() {
          color: getThemifyVariable('primary-04');
        }
      }
    }    

    }
  }
}

</style>