<template>
  <div class="admin-wrapper">
    <router-view/>
  </div>
</template>

<script>
export default {
  name: 'Admin'
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
</style>