<template>
  <div class="dawn-title-nav">
    <div class="title-area">
      <h1 class="page-title">{{title}}</h1>
      <p v-if="subtitle" class="page-subtitle">{{subtitle}}</p>
    </div>
    <div v-if="hasAction" class="action-area text-right">
      <router-link v-if="$routerHistory.hasHistory()" :to="{ path: $routerHistory.previous().path }">
        <i class="fal fa-long-arrow-left"></i> Back
      </router-link>
    </div>
  </div>
</template>

<script>
export default {
  name: 'dawn-title-nav',
  props: {
    title: String,
    subtitle: String,
    hasAction: Boolean
  }
}
</script>

<style scoped lang="scss">
@import "~@/assets/sass/_variables.scss";

  .dawn-title-nav {
    width: 100%;
    border-bottom: $border-default;
    @include themify() {
      border-color:  getThemifyVariable('background-light');
      background:  getThemifyVariable('canvas');
    }
    text-transform: none;
    padding: .75rem $side-padding - .2rem .3rem;

    .title-area, .action-area {
      display:inline-block;
    }

    .action-area {
      float:right;
      text-transform: uppercase;
      font-size: $font-size-xsmall;
      font-weight: $font-weight-bold;
      line-height:3;

      i {
        margin-right:.5rem;
      }

      a {
        @include themify() {
          color:  getThemifyVariable('ink');
        }

        &:hover {
          text-decoration: none;
          @include themify() {
            color:  getThemifyVariable('border');
          }
        }
      }
    }

    h1.page-title {
      @include themify() {
        color:  getThemifyVariable('border');
      }
      font-size: $font-size-xxlarge;
      font-weight: $font-weight-normal;
      font-family: $font-family-sans-serif;
    }

    p.page-subtitle {
      font-size:$font-size-base;
      font-weight: $font-weight-bold;
    }
  }

</style>