<template>
  <div class="content">
    <div class="container-fluid">
      <div class="card">
        <div class="card-header">
          <h4 class="title">Datepicker Field 
            <span class="component-name">&lt;dawn-datepicker /&gt;</span>
          </h4>
          <p class="component-description">The &lt;dawn-datepicker /&gt tag specifies a datepicker field.</p>
        </div>
          <div class="card-content">
            <div class="row">
              <div class="col-md-6"><h5 class="section-header">Datepicker Field Types</h5>
                <dawn-datepicker field-label="Simple Date Picker, Required" required v-model="demoTime1"></dawn-datepicker>
                <dawn-datepicker field-label="Date Range" v-model="demoTime2" range></dawn-datepicker>
              </div>
              <div class="col-md-6">
                <!-- Another column, if you need it !-->
              </div>
            </div>
            <div class="row">
              <div class="col-md-12"><h5 class="section-header">Datepicker Field Code</h5>
                <pre>
                  <code>
                    Code Example Here
                  </code>
                </pre>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </template>

  <script>
  export default {
    name: 'DatepickerField',
    data () {
      return {
        demoTime1: '',
        demoTime2: ''
      }
    }
  }
  </script>

  <style lang="scss">
  </style>