<template>
  <div class="content">
    <div class="container-fluid">
      <div class="card">
        <div class="card-header">
          <h4 class="title">File Upload Field 
            <span class="component-name">&lt;dawn-upload /&gt;</span>
          </h4>
          <p class="component-description">The &lt;dawn-upload /&gt tag specifies a file upload field which allows users to upload and manage files. &lt;dawn-upload /&gt elements are used within a &lt;dawn-form /&gt element to declare input controls that allow users to input data.</p>
        </div>
        <div class="card-content">
          <div class="row">
            <div class="col-md-6"><h5 class="section-header">File Upload Field States</h5>
              <ul>
                <li v-for="file in files">{{file.name}} - Error: {{file.error}}, Success: {{file.success}}</li>
              </ul>
              <dawn-upload class="btn btn-secondary" field-label="A Required Field With Help, Autofocused" placeholder="Enter a name for your program" helptipBody="This help text is customized." autofocus required ref="upload" v-model="files" post-action="/post.method" put-action="/put.method" @input-file="inputFile" @input-filter="inputFilter">
                Upload File
              </dawn-upload>
              <dawn-button class="btn btn-primary" v-show="!$refs.upload || !$refs.upload.active" @click.prevent="$refs.upload.active = true" type="button">Start upload</dawn-button>
              <dawn-button class="btn btn-danger" v-show="$refs.upload && $refs.upload.active" @click.prevent="$refs.upload.active = false" type="button">Stop upload</dawn-button>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12"><h5 class="section-header">File Upload Field Code</h5>
              <pre>
                <code>Code Goes Here
                </code>
              </pre>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12"><h5 class="section-header">File Upload Field Attributes</h5>
              <pre>
                <code>Attributes List
                </code>
              </pre>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'FileUploadField',
  data () {
    return {
      files: []
    }
  },
  methods: {
    /**
     * Has changed
     * @param  Object|undefined   newFile   Read only
     * @param  Object|undefined   oldFile   Read only
     * @return undefined
     */
    inputFile: function (newFile, oldFile) {
      if (newFile && oldFile && !newFile.active && oldFile.active) {
        // Get response data
        console.log('response', newFile.response)
        if (newFile.xhr) {
          //  Get the response status code
          console.log('status', newFile.xhr.status)
        }
      }
    },
    /**
     * Pretreatment
     * @param  Object|undefined   newFile   Read and write
     * @param  Object|undefined   oldFile   Read only
     * @param  Function           prevent   Prevent changing
     * @return undefined
     */
    inputFilter: function (newFile, oldFile, prevent) {
      if (newFile && !oldFile) {
        // Filter non-image file
        if (!/\.(jpeg|jpe|jpg|gif|png|webp)$/i.test(newFile.name)) {
          return prevent()
        }
      }

      // Create a blob field
      newFile.blob = ''
      let URL = window.URL || window.webkitURL
      if (URL && URL.createObjectURL) {
        newFile.blob = URL.createObjectURL(newFile.file)
      }
    }
  }
}
</script>

<style lang="scss">
</style>