<template>
  <div class="content">
    <div class="container-fluid">
      <div class="card">
        <div class="card-header">
          <h4 class="title">Text Field 
            <span class="component-name">&lt;dawn-form /&gt;</span>
          </h4>
          <p class="component-description">The &lt;dawn-form /&gt tag specifies a form. It contains an axios method and a submit button out of the gate.</p>
        </div>
        <div class="card-content">
          <div class="row">
            <div class="col-md-6">
              <h2>This is an example form:</h2>
              <dawn-form endpoint="programs">
                <dawn-input v-model="field1" field-label="My first field" required />
                <dawn-input v-model="field2" field-label="My second field" autofocus />
                <dawn-input v-model="field3" field-label="My third field" helptipBody="Don't forget this one." required />
                <dawn-input v-model="field4" field-label="My fourth field" helptipHeader="Ignore this one" helptipBody="Please do not fill in this form" />
                <dawn-input v-model="field5" type="number" field-label="My fifth field" required />
                <dawn-input v-model="field6" type="number" dir="ltr" field-label="My sixth field" required />
                <dawn-input v-model="field7" type="number" symbol="%" field-label="My seventh field" required />
                <dawn-input v-model="field8" type="number" symbol="px" field-label="My eight field" required />
                <dawn-input v-model="field9" field-label="My ninth field" required helpText="You might want to strap in for this one." />
                <dawn-select v-model="field10" :options="options1" field-label="My tenth field" requried />
                <dawn-select v-model="field11" :options="options1" field-label="My tenth field" requried />
              </dawn-form>
            </div>
            <div class="col-md-6">
              <h2>Results:</h2>
              <p>1: {{field1}}</p>
              <p>2: {{field2}}</p>
              <p>3: {{field3}}</p>
              <p>4: {{field4}}</p>
              <p>5: {{field5}}</p>
              <p>6: {{field6}}</p>
              <p>7: {{field7}}</p>
              <p>8: {{field8}}</p>
              <p>9: {{field9}}</p>
              <p>10: {{field10}}</p>
              <p>11: {{field11}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12"><h5 class="section-header">Form Code</h5>
              <pre>
                <code>&lt;dawn-form form-header=&quot;Optional Form Header&quot; submit-class=&quot;btn btn-secondary&quot; submit-text=&quot;Next&quot; endpoint=&quot;programs&quot; &gt;&lt;/dawn-form&gt;
                </code>
              </pre>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12"><h5 class="section-header">Form Attributes</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Forms',
  data () {
    return {
      field1: null,
      field2: null,
      field3: null,
      field4: null,
      field5: null,
      field6: null,
      field7: null,
      field8: null,
      field9: null,
      field10: null,
      field11: null,
      options1: ['a', 'list', 'with', 'many', 'item', 'you', 'know']
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>

