<template>
  <div class="forms-docs-wrapper">
    <router-view />
  </div>
</template>

<script>
export default {
  name: 'Forms'
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>

