<template>
  <div class="content">
    <div class="container-fluid">
      <div class="card">
        <div class="card-header">
          <h4 class="title">Numeric Field 
            <span class="component-name">&lt;dawn-input type=&quot;number&quot; /&gt;</span>
          </h4>
          <p class="component-description">The &lt;dawn-input /&gt tag specifies an input field where the user can enter data. &lt;dawn-input type=&quot;number&quot; /&gt converts the input to a numeric field and allows for a symbol to be added.</p>
        </div>
        <div class="card-content">
          <div class="row">
            <div class="col-md-6"><h5 class="section-header">Numeric Field States</h5>
              <dawn-input v-model="field1" field-label="A Number Field with % as The Symbol" placeholder="0" type="number" symbol="%" />
              <dawn-input v-model="field2" field-label="A Number Field with px as The Symbol" placeholder="2" type="number" symbol="px" />
              <dawn-input v-model="field3" field-label="A Number Field with No Symbol" placeholder="Enter a Numerical Value" type="number"/>
              <dawn-input v-model="field4" field-label="A Number Field set to LTR, has Helptip" placeholder="Enter a name for your program" dir="ltr" helptipBody="This help text is customized."/>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12"><h5 class="section-header">Numeric Field Code</h5>
              <pre>
                <code>&lt;dawn-input type=&quot;number&quot; symbol=&quot;%&quot; field-label=&quot;A Required Field With Help, Autofocused&quot; placeholder=&quot;Enter a name for your program&quot; helpBody=&quot;This help text is customized.&quot; autofocus required&gt;&lt;/dawn-input&gt;
                </code>
              </pre>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12"><h5 class="section-header">Numeric Field Attributes</h5>
              <pre>
                <code>&lt;dawn-input type=&quot;number&quot; symbol=&quot;%&quot; field-label=&quot;A Required Field With Help, Autofocused&quot; placeholder=&quot;Enter a name for your program&quot; helpBody=&quot;This help text is customized.&quot; autofocus required&gt;&lt;/dawn-input&gt;
                </code>
              </pre>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'NumericField',
  data () {
    return {
      field1: null,
      field2: null,
      field3: null,
      field4: null,
      field5: null,
      field6: null
    }
  }
}
</script>

<style lang="scss">
</style>