<template>
  <div class="content">
    <div class="container-fluid">
      <div class="card">
        <div class="card-header">
          <h4 class="title">Radio Field 
            <span class="component-name">&lt;dawn-radio /&gt;</span>
          </h4>
          <p class="component-description">The &lt;dawn-radio /&gt tag specifies a radio.</p>
        </div>
          <div class="card-content">
            <div class="row">
              <div class="col-md-6"><h5 class="section-header">Radio Field Types</h5>
                <dawn-radio name="something" field-label="Simple Radio Group" :options="options" required></dawn-radio>
              </div>
              <div class="col-md-6">
                <!-- Another column, if you need it !-->
              </div>
            </div>
            <div class="row">
              <div class="col-md-12"><h5 class="section-header">Radio Field Code</h5>
                <pre>
                  <code>
                    Code Example Here
                  </code>
                </pre>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </template>

  <script>
  import EventBus from '@/event-bus.js'
  export default {
    name: 'RadioField',
    data () {
      return {
        value: null,
        options: [
          {status: true, label: 'Option 1'},
          {status: false, label: 'Option 2'},
          {status: false, label: 'Option 3'},
          {status: false, label: 'Option 4'},
          {status: true, label: 'Option 5'}
        ]
      }
    },
    methods: {
      chooseRadioHandler: function (obj) {
        this.options[obj.idx].status = obj.status
      }
    },
    created: function () {
      EventBus.$on('chooseRadio', this.chooseRadioHandler)
    }
  }
</script>

<style lang="scss">
</style>