<template>
  <div class="content">
    <div class="container-fluid">
      <div class="card">
        <div class="card-header">
          <h4 class="title">Text Area Field 
            <span class="component-name">&lt;dawn-textarea /&gt;</span>
          </h4>
          <p class="component-description">The &lt;dawn-textarea /&gt tag specifies a textarea.</p>
        </div>
        <div class="card-content">
          <div class="row">
            <div class="col-md-6"><h5 class="section-header">Text Area Field States</h5>
              <dawn-textarea :cols="5" :rows="10" type="text" field-label="A Required Field With Help, Autofocused" placeholder="Enter a description for your program" helpBody="This help text is customized." autofocus required></dawn-textarea>
            </div>
            <div class="col-md-6">
              <!-- Another column, if you need it !-->
            </div>
          </div>
          <div class="row">
            <div class="col-md-12"><h5 class="section-header">Text Area Field Code</h5>
              <pre>
                <code>
                  Code Example Here
                </code>
              </pre>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'TextAreaField'
}
</script>

<style lang="scss">
</style>