<template>
  <div class="content">
    <div class="container-fluid">
      <div class="card">
        <div class="card-header">
          <h4 class="title">Text Field 
            <span class="component-name">&lt;dawn-input /&gt;</span>
          </h4>
          <p class="component-description">The &lt;dawn-input /&gt tag specifies an input field where the user can enter data. &lt;dawn-input /&gt elements are used within a &lt;dawn-form /&gt element to declare input controls that allow users to input data.</p>
        </div>
        <div class="card-content">
          <div class="row">
            <div class="col-md-6"><h5 class="section-header">Text Field States</h5>
              <dawn-input field-label="A Required Field With Help, Autofocused" placeholder="Enter a name for your program" helptipBody="This help text is customized." autofocus required v-model="field1" />
              <dawn-input 
                field-label="An Optional Field With Help" 
                placeholder="Enter a name for your program" 
                helptipBody="This help text is also customized." 
                v-model="field2"/>

              <dawn-input field-label="A Required Field With Customized Help Header" placeholder="Enter a name for your program" helptipHeader="This text is customized, too." helptipBody="You can customize the header and the body of a help tooltip." required v-model="field3"/>
              <dawn-input field-label="A Required Field Without Help" placeholder="This field does not have a help tooltip" required v-model="field4"/>
              <dawn-input field-label="An errored field" placeholder="fred.flintstone@gmail" error v-model="field5" helptipBody="You can customize the header and the body of a help tooltip."/>
              <dawn-input field-label="A Disabled Form Field" placeholder="This field is disabled" disabled v-model="field6"/>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12"><h5 class="section-header">Text Field Code</h5>
              <pre>
                <code>&lt;dawn-input field-label=&quot;A Required Field With Help, Autofocused&quot; placeholder=&quot;Enter a name for your program&quot; helpBody=&quot;This help text is customized.&quot; autofocus required&gt;&lt;/dawn-input&gt;
                </code>
              </pre>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12"><h5 class="section-header">Text Field Attributes</h5>
              <pre>
                <code>&lt;dawn-input field-label=&quot;A Required Field With Help, Autofocused&quot; placeholder=&quot;Enter a name for your program&quot; helpBody=&quot;This help text is customized.&quot; autofocus required&gt;&lt;/dawn-input&gt;
                </code>
              </pre>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'TextField',
  data () {
    return {
      field1: null,
      field2: null,
      field3: null,
      field4: null,
      field5: null,
      field6: null
    }
  }
}
</script>

<style lang="scss">
</style>