<template>
  <div class="dawn-card-select-wrapper">
    <div class="dawn-card-select-label-wrapper">
      <label>{{fieldLabel}}<span v-if="required"> &nbsp*</span></label>
    </div>
    <div class="dawn-card-select-field-wrapper">
      <dawn-select :placeholder="placeholder" :options="selectOptions" required v-model="selectedChoices" label="name" track-by="name" :multiple="multiple" autocomplete="true" :hide-selected="true">
        <template slot="option" slot-scope="props">
          <dawn-select-options>
            <p slot="row1" class="select-main">{{ props.option.name }} ({{ props.option.number }})</p>
            <p slot="row2" class="select-secondary">{{ props.option.city }}, {{ props.option.state }}, {{ props.option.country }}</p>
          </dawn-select-options>
        </template>
        <template slot="tag" slot-scope="props"><span></span></template>
      </dawn-select>
    </div>
    <div class="dawn-card-select-button-wrapper" v-if="addButton">
      <span>OR</span>
      <dawn-button button-class="btn btn-default" @click="addItem">
        Add {{fieldLabel}}
      </dawn-button>
    </div>
    <div class="dawn-card-select-results-wrapper">
      <dawn-card v-for="(selected, index) in selectedChoices" :key="selected.number" title="selected.name" @removecard="remove(index)" @edit="editItem(selected)">
        <span slot="title">{{selected.name}}</span>
        <span slot="body">
          <p>{{selected.city}}, {{selected.state}}, {{selected.country}}</p>
        </span>
      </dawn-card>
    </div>
    <slot></slot>
    <hr />
  </div>
</template>

<script>
export default {
  name: 'dawn-card-select',
  props: {
    fieldLabel: String,
    required: Boolean,
    selectOptions: Array,
    multiple: Boolean,
    addButton: Boolean,
    placeholder: String
  },
  data () {
    return {
      selectedChoices: []
    }
  },
  methods: {
    remove (index) {
      this.selectedChoices.splice(index, 1)
    },
    addItem () {
      this.$emit('addItem')
    },
    editItem (item) {
      this.$emit('editItem', item)
    }
  }
}
</script>

<style scoped lang="scss">
@import "~@/assets/sass/_variables.scss";

.dawn-card-select-label-wrapper {
  display: inline-block;
  min-width: 8rem;
}

.dawn-card-select-field-wrapper {
  display: inline-block;
  min-width:20rem;
  margin-right: 1rem;
}

.dawn-card-select-button-wrapper {
  display: inline-block;
  span {
    margin-right: 1.1rem;
    display:inline-block;
    font-size: $font-size-small;
    font-weight: $font-weight-bold;
  }

  button {
    margin-top:.4rem;
  }
}

.dawn-card-select-results-wrapper {
  display:block;
  min-height:9rem;
  overflow: hidden;
}
</style>