<template>
  <div class="dashboard-wrapper">
    <dawn-title-nav title="Dashboard" />
    <div class="main-body">
      <div class="row">
        <div class="col-md-12" id="area1" ondrop="drop(event)" ondragover="allowDrop(event)">
          <dawn-widget title="Widget One" id="widget1"/>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6" id="area2" @drop="drop(event)" @dragover="allowDrop(event)">
          <dawn-widget title="Widget Two" id="widget2" draggable="true"
  @dragstart="drag(event)" />
        </div>
        <div class="col-md-6" id="area3" ondrop="drop(event)" ondragover="allowDrop(event)">
          <dawn-widget title="Widget Three" id="widget3" draggable="true"
  ondragstart="drag(event)" />
        </div>
      </div>
      <div class="row">
        <div class="col-md-4" id="area4" ondrop="drop(event)" ondragover="allowDrop(event)">
          <dawn-widget title="Widget Four" id="widget4" draggable="true"
  ondragstart="drag(event)" />
        </div>
        <div class="col-md-8" id="area5" ondrop="drop(event)" ondragover="allowDrop(event)">
          <dawn-widget title="Widget Five" id="widget5" draggable="true"
  ondragstart="drag(event)" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Dashboard',
  methods: {
    allowDrop (ev) {
      ev.preventDefault()
    },
    drag (ev) {
      ev.dataTransfer.setData('div', ev.target.id)
    },
    drop (ev) {
      ev.preventDefault()
      var data = ev.dataTransfer.getData('div')
      ev.target.appendChild(document.getElementById(data))
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

</style>