<template>
  <div class="dawn-attention-box-wrapper">
    <div class="title-area">
      <h1 class="box-title">{{title}}</h1>
      <p v-if="subtitle" class="page-subtitle">{{subtitle}}</p>
    </div>
    <div class="dawn-attention-box">
      <slot></slot>
    </div>
  </div>
</template>

<script>
export default {
  name: 'dawn-box',
  props: {
    title: String,
    subtitle: String
  }
}
</script>

<style scoped lang="scss">
@import "~@/assets/sass/_variables.scss";

.dawn-attention-box-wrapper {

  margin:1rem 0rem .5rem 0rem;

  .dawn-attention-box {
    border:$border-width-default solid;
    @include themify() {
      background: getThemifyVariable('background-light');
      border-color: getThemifyVariable('background');  
    }
    border-radius: $border-radius;
    padding:1rem;
  }

  h1.box-title {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: .5rem;
    @include themify() {
      color: getThemifyVariable('ink');  
    }
    font-weight: $font-weight-bold;
  }
}
</style>