<template>
  <div class="form-group">
    <dawn-input-tooltip :class="{'error-message' : error}" v-if="helptipBody && focused || helptipBody && error" :helptipHeader="helptipHeader" :errorTip="error" :helptipBody="helptipBody"></dawn-input-tooltip>
    <label v-if="fieldLabel">{{fieldLabel}} <span v-if="required"> &nbsp*</span></label>
    <input :type="setType" :dir="setDir" v-bind="$props" v-focus.lazy="autofocus"
      :required="required" :autofocus="autofocus" class="form-control" ref="input"
      @blur="emitBlur" @focus="emitFocus" :value="value" @input="updateValue($event.target.value)"
      :style="symbolWidth"
    />
    <span class="toggle-password-icon" v-if="showPassword" @click="togglePassword">
      <i v-if="fieldType === 'password'" class="fal fa-eye"></i>
      <i v-if="fieldType === 'text'" class="fal fa-eye-slash"></i>
    </span>
    <div id="symbolWrapper" ref="symbolWrapper" class="symbol-holder">
      {{symbol}}
    </div>
    <small class="form-text text-muted" v-if="helpText">{{helpText}}</small>
  </div>
</template>

<script>
  export default {
    name: 'dawn-input',
    props: {
      fieldLabel: String,
      type: {
        type: String,
        default: 'text'
      },
      dir: String,
      required: Boolean,
      autofocus: Boolean,
      name: String,
      disabled: Boolean,
      error: Boolean,
      placeholder: String,
      value: [String, Number],
      helpText: String,
      showPassword: Boolean,
      helptipHeader: String,
      helptipBody: String,
      symbol: String
    },
    data () {
      return {
        focused: false,
        fieldType: this.type,
        symbolWidth: ''
      }
    },
    directives: {
      focus: {
        inserted: function (el, binding) {
          if (binding.value) el.focus()
          else el.blur()
        },
        componentUpdated: function (el, binding) {
          if (binding.modifiers.lazy) {
            if (Boolean(binding.value) === Boolean(binding.oldValue)) {
              return
            }
          }
          if (binding.value) el.focus()
          else el.blur()
        }
      }
    },
    computed: {
      setDir () {
        if (this.type === 'number' && this.dir !== 'ltr') {
          return 'rtl'
        } else {
          return 'ltr'
        }
      },
      setType () {
        return this.fieldType
      }
    },
    methods: {
      getSymbolPadding () {
        if (this.symbol) {
          var symbolHolder = this.$refs.symbolWrapper.clientWidth + 10
          this.symbolWidth = 'paddingRight: ' + symbolHolder + 'px'
        }
      },
      updateValue (value) {
        this.$emit('input', value)
      },
      togglePassword () {
        this.fieldType = this.fieldType === 'password' ? 'text' : 'password'
        this.$refs.input.setAttribute('type', this.fieldType)
        this.$refs.input.focus()
      },
      emitBlur (event) {
        this.$emit('focus', event.target.value)
        this.focused = false
      },
      emitFocus (event) {
        this.$emit('focus', event.target.value)
        this.focused = true
        this.getSymbolPadding()
      }
    }
  }
</script>

<style scoped lang="scss">
@import "~@/assets/sass/_variables.scss"; 
@import "~@/assets/sass/_form_fields.scss";  

.form-group {
  position: relative;
}

.form-control,
.form-group .form-control {
  @include form-field;
  
}

.symbol-holder {
  display: inline-block;
  height: 100%;
  position: absolute;
  right: 2%;
  top: 40%;
  z-index: 1;
  padding:.5rem .5rem .5rem 0rem;
  font-size: $font-size-small;
  line-height:1.8;
}

.toggle-password-icon {
  @include themify() {
    color:  getThemifyVariable('background');
  }
  display: inline-block;
  height: 100%;
  position: absolute;
  right: 2%;
  top: 40%;
  z-index: 1;
  padding:.5rem;
  transition: all .5s ease-out;

  &:hover {
    cursor: pointer;
    @include themify() {
      color:  getThemifyVariable('primary-05');
    }
  }
}

</style>