<template>
  <transition name="dawn-modal">
    <div class="dawn-modal-mask" @click="close" v-show="show">
        <div class="dawn-modal-container" @click.stop>
          <div class="dawn-modal-top">
            <span class="close-icon" @click="close"><i class="fal fa-times"></i></span>
          </div>
          <div class="dawn-modal-header">
            <h3 class="title">{{title}}</h3>
            <p class="subtitle">{{subtitle}}</p>
          </div>
          <slot name="body"></slot>
          <div class="dawn-modal-footer text-right">
              <slot name="footer"></slot>
              <div v-if="!hasSlotFooter">
                <dawn-button v-if="secondaryButton != 'false'" class="btn btn-secondary" @click="close">{{secondaryButton}}</dawn-button>
                <dawn-button v-if="primaryButton != 'false'"class="btn btn-primary" @click="close">{{primaryButton}}</dawn-button>
              </div>
          </div>
        </div>
    </div>
  </transition>
</template>

<script>
  export default {
    name: 'dawn-modal',
    props: {
      show: {
        type: Boolean,
        default: false
      },
      title: {
        type: String,
        required: true
      },
      subtitle: String,
      primaryButton: {
        type: String,
        default: 'Ok'
      },
      secondaryButton: {
        type: String,
        default: 'Cancel'
      }
    },
    data: function () {
      return {
        body: null,
        footer: null
      }
    },
    methods: {
      close: function () {
        this.$emit('close')
      }
    },
    mounted: function () {
      document.addEventListener('keydown', (e) => {
        if (this.show && e.keyCode === 27) {
          this.close()
        }
      })
    },
    computed: {
      hasSlotFooter () {
        return this.$slots.footer
      }
    }
  }
</script>

<style scoped lang="scss">
@import "~@/assets/sass/_variables.scss";

.dawn-modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(120, 87, 132, 0.3);
    transition: opacity .3s ease;
}

.dawn-modal-container {
    width: 500px;
    margin: 4rem auto 0;
    padding: 1rem 1.5rem;
    @include themify() {
      background: getThemifyVariable('canvas');
    }
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    transition: all .3s ease;

    h3.title {
      font-weight: $font-weight-extra-bold;
      font-size: $font-size-large;
    }

    p.subtitle {
      font-weight:normal;
      font-size:$font-size-base;
    }
}

.dawn-modal-top {
  text-align: right;
  margin-bottom:-15px;
  
  span.close-icon {
    font-weight: 100;
    color: $ink;
    margin-left: 2rem;
    text-align: right;
    &:hover {
      cursor: pointer;
    }
  }
}

.dawn-modal-body {
    margin: 1rem 0;
}

.text-right {
    text-align: right;
}

.dawn-modal-enter {
  opacity: 0;
}

.dawn-modal-leave-active {
  opacity: 0;
}

.dawn-modal-enter .dawn-modal-container,
.dawn-modal-leave-active .dawn-modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}


</style>