<template>
  <div class="content">
    <div class="container-fluid">
      <div class="card">
        <div class="card-header">
          <h4 class="title">Meta Nav
            <span class="component-name">&lt;dawn-meta-nav /&gt;</span>
          </h4>
          <p class="component-description">The &lt;dawn-meta-nav /&gt tag adds a slick meta nav to the top of the page.</p>
        </div>
          <div class="card-content">
            <div class="row">
              <div class="col-md-12"><h5 class="section-header">Meta Nav Demo</h5>
                <dawn-meta-nav />
              </div>
            </div>
            <div class="row">
              <div class="col-md-12"><h5 class="section-header">Meta Nav Code</h5>
                <pre>
                  <code>
                    Code Example Here
                  </code>
                </pre>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </template>

  <script>
  export default {
    name: 'MetaNav'
  }
</script>

<style lang="scss">
</style>