<template>
  <div class="content">
    <div class="container-fluid">
      <div class="card">
        <div class="card-header">
          <h4 class="title">Secondary Nav
            <span class="component-name">&lt;dawn-secondary-nav /&gt;</span>
          </h4>
          <p class="component-description">The &lt;dawn-secondary-nav /&gt tag adds a slick secondary nav to the top of the page.</p>
          <p class="component-description">The &lt;dawn-secondary-nav /&gt is built into the &lt;dawn-primary-nav /&gt tag.</p>
        </div>
          <div class="card-content">
            <div class="row">
              <div class="col-md-12"><h5 class="section-header">Secondary Nav Example</h5>
                <dawn-primary-nav :items="items"></dawn-primary-nav>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12"><h5 class="section-header">Secondary Nav Code</h5>
                <pre>
                  <code>
                    Code Example Here
                  </code>
                </pre>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </template>

  <script>
  export default {
    name: 'SecondaryNav',
    data () {
      return {
        items: [
          {
            name: 'Dashboard',
            active: false,
            permissions: true,
            secondary: null
          },
          {
            name: 'Programs',
            active: true,
            permissions: true,
            secondary: [
              {
                name: 'Programs',
                active: false,
                permissions: true
              },
              {
                name: 'RFPs',
                active: true,
                permissions: true
              },
              {
                name: 'POs',
                active: false,
                permissions: true
              },
              {
                name: 'WOs',
                active: false,
                permissions: false
              },
              {
                name: 'Commissions',
                active: false,
                permissions: true
              },
              {
                name: 'Invoices',
                active: false,
                permissions: true
              },
              {
                name: 'Client Invoices',
                active: false,
                permissions: true
              }
            ]
          },
          {
            name: 'Network',
            active: false,
            permissions: true,
            secondary: null
          },
          {
            name: 'Products',
            active: false,
            permissions: true,
            secondary: null
          },
          {
            name: 'Reports',
            active: false,
            permissions: true,
            secondary: null
          },
          {
            name: 'Company',
            active: false,
            permissions: true,
            secondary: null
          },
          {
            name: 'Admin',
            active: false,
            permissions: false,
            secondary: null
          }
        ]
      }
    }
  }
</script>

<style lang="scss">
</style>