<template>
  <div class="content">
    <div class="container-fluid">
      <div class="card">
        <div class="card-header">
          <h4 class="title">Tab Nav
            <span class="component-name">&lt;dawn-tab-nav /&gt;</span>
          </h4>
          <p class="component-description">The &lt;dawn-tab-nav /&gt tag adds a slick tab nav.</p>
        </div>
          <div class="card-content">
            <div class="row">
              <div class="col-md-6"><h5 class="section-header">Tab Nav Demo</h5>
                <dawn-tab-nav>
                  <dawn-tab title="Business Profile" :active="true">
                    <dawn-input field-label="Business Name" />
                    <dawn-textarea field-label="Business Description" />
                  </dawn-tab>
                  <dawn-tab title="Personal Profile">
                    <dawn-input field-label="First Name" />
                    <dawn-input field-label="Last Name" />
                    <dawn-textarea field-label="Bio" />
                  </dawn-tab>
                </dawn-tab-nav>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12"><h5 class="section-header">Tab Nav Code</h5>
                <pre>
                  <code>
                    Code Example Here
                  </code>
                </pre>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </template>

  <script>
  export default {
    name: 'TabNav'
  }
</script>

<style lang="scss">
</style>