<template>
  <div class="content">
    <div class="container-fluid">
      <div class="card">
        <div class="card-header">
          <h4 class="title">Title Nav
            <span class="component-name">&lt;dawn-title-nav /&gt;</span>
          </h4>
          <p class="component-description">The &lt;dawn-title-nav /&gt tag adds a slick title nav to the top of the page.</p>
        </div>
          <div class="card-content">
            <div class="row">
              <div class="col-md-12"><h5 class="section-header">Title Nav Demo</h5>
                <dawn-title-nav title="Programs" />
                <br />
                <dawn-title-nav title="A Title" subtitle="A Subtitle" />
                <br />
                <dawn-title-nav title="A Title" subtitle="A Subtitle">
                  <span slot="action">
                    <i class="fa fa-long-arrow-left"></i> Back
                  </span>
                </dawn-title-nav>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12"><h5 class="section-header">Title Nav Code</h5>
                <pre>
                  <code>
                    Code Example Here
                  </code>
                </pre>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </template>

  <script>
  export default {
    name: 'TitleNav'
  }
</script>

<style lang="scss">
</style>