<template>
  <div class="content">
    <div class="container-fluid">
      <div class="card">
        <div class="card-header">
          <h4 class="title">Cards
            <span class="component-name">&lt;dawn-card /&gt;</span>
          </h4>
          <p class="component-description">The &lt;dawn-card /&gt tag allows you to create a card.</p>
        </div>
          <div class="card-content">
            <div class="row">
              <div class="col-md-12"><h5 class="section-header">Card Demos</h5>
                  <dawn-card v-if="!item.hide" v-for="(item, index) in items" title="item.title" :key="item.id" @removecard="remove(item.title)" @edit="edit(item.title)">
                    <span slot="title">{{item.title}}</span>
                    <span slot="body">
                      <p>{{item.address}}</p>
                      <p>{{item.city}}, {{item.state}}, {{item.country}}</p>
                      <p>{{item.postal}}</p>
                    </span>
                  </dawn-card>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12"><h5 class="section-header">Modal Code</h5>
                <pre>
                  <code>
                    Code Example Here
                  </code>
                </pre>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </template>

  <script>
  export default {
    name: 'Cards',
    data() {
      return {
        items: [
          { id: 1, title: 'The W Hotel', address: '1234 N Chicago Ave', city: 'Chicago', state: 'IL', country: 'USA', postal: '60631' },
          { id: 2, title: 'The Sunroof Chicago', address: '2323 Ranchsauce Ave', city: 'Chicago', state: 'IL', country: 'USA', postal: '60631' },
          { id: 3, title: 'Big Bank Stadium', address: '1 Sportsball Way', city: 'Chicago', state: 'IL', country: 'USA', postal: '60622' }
        ]
      }
    },
    methods: {
      remove(title) {
        alert('Remove Item: ' + title)
      },
      edit(title) {
        alert('Edit Item: ' + title)
      }
    }
  }
</script>

<style lang="scss">
</style>