<template>
  <div class="content">
    <div class="container-fluid">
      <div class="card">
        <div class="card-header">
          <h4 class="title">Modals
            <span class="component-name">&lt;dawn-modal /&gt;</span>
          </h4>
          <p class="component-description">The &lt;dawn-modal /&gt tag allows you to create a modal.</p>
        </div>
          <div class="card-content">
            <div class="row">
              <div class="col-md-12"><h5 class="section-header">Modal Demos</h5>
                <dawn-button class="btn btn-primary" @click="showModal1 = true">Launch Modal 1</dawn-button>
                <dawn-modal :show="showModal1" @close="showModal1 = false" title="Budget Information" subtitle="Tell us about your budget.">
                  <div slot="body">
                    <dawn-input field-label="Budget Name" required />
                    <dawn-textarea field-label="Budget Description" />
                  </div>
                </dawn-modal>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12"><h5 class="section-header">Modal Code</h5>
                <pre>
                  <code>
                    Code Example Here
                  </code>
                </pre>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </template>

  <script>
  export default {
    name: 'Modals',
    data() {
      return {
        showModal1: false
      }
    }
  }
</script>

<style lang="scss">
</style>