<template>
  <div class="content">
    <div class="container-fluid">
      <div class="card">
        <div class="card-header">
          <h4 class="title">Page Section
            <span class="component-name">&lt;dawn-section /&gt;</span>
          </h4>
          <p class="component-description">The &lt;dawn-section /&gt tag allows you to create a section.</p>
        </div>
          <div class="card-content">
            <div class="row">
              <div class="col-md-12 white-background"><h5 class="section-header">Page Sections Examples</h5>
                <dawn-section class="active" title="Personal Information">
                  <dawn-input field-label="First Name" required autofocus/>
                  <dawn-input field-label="Last Name" required />
                  <dawn-textarea field-label="Bio"/>
                </dawn-section>
                <dawn-section title="Inactive Section">
                  <dawn-input field-label="First Name" required autofocus/>
                  <dawn-input field-label="Last Name" required />
                  <dawn-textarea field-label="Bio"/>
                </dawn-section>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12"><h5 class="section-header">Page Section Code</h5>
                <pre>
                  <code>
                    Code Example Here
                  </code>
                </pre>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </template>

  <script>
  export default {
    name: 'PageSections'
  }
</script>

<style scoped lang="scss">
@import "~@/assets/sass/_variables.scss";
.white-background {
  background: $white;
}
</style>