<template>
  <div class="content">
    <div class="container-fluid">
      <div class="card">
        <div class="card-header">
          <h4 class="title">Panels
            <span class="component-name">&lt;dawn-panel /&gt;</span>
          </h4>
          <p class="component-description">The &lt;dawn-panel /&gt tag allows you to create a panel.</p>
        </div>
          <div class="card-content">
            <div class="row">
              <div class="col-md-12"><h5 class="section-header">Panel Demos</h5>
                <dawn-button class="btn btn-primary" @click="showPanel1 = true">Launch Panel 1</dawn-button>
                <dawn-panel :show="showPanel1" @close="showPanel1 = false" title="Budget Information" subtitle="Tell us about your budget.">
                  <div slot="body">
                    <dawn-input field-label="Budget Name" required />
                    <dawn-textarea field-label="Budget Description" />
                  </div>
                </dawn-panel>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12"><h5 class="section-header">Panel Code</h5>
                <pre>
                  <code>
                    Code Example Here
                  </code>
                </pre>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </template>

  <script>
  export default {
    name: 'Panels',
    data() {
      return {
        showPanel1: false
      }
    }
  }
</script>

<style lang="scss">
</style>