<template>
  <div class="login-wrapper">
    <p class="auth-title">Please log in with your email and password</p>
    <dawn-input field-label="Email" type="email" placeholder="Your email address" v-model="email"/>
    <dawn-input field-label="Password" type="password" placeholder="Your password" show-password v-model="password"/>
    <dawn-checkbox :options="remember"/>
    <dawn-button href="/#/dashboard" class="float-right">Log In</dawn-button>
  </div>
</template>

<script>
export default {
  name: 'LogIn',
  data () {
    return {
      email: '',
      password: '',
      remember: [{status: false, label: 'Remember me.'}]

    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
@import "~@/assets/sass/_variables.scss";

.auth-title {
  font-weight: $font-weight-extra-bold;
}
</style>
