<template>
  <transition name="dawn-panel">
    <div class="dawn-panel" @click.stop v-show="show">
      <div class="dawn-panel-top">
        <span class="close-icon" @click="close"><i class="fal fa-times"></i></span>
      </div>
      <div class="dawn-panel-header">
        <h3 class="title">{{title}} test</h3>
        <p class="subtitle">{{subtitle}}</p>
      </div>
      <slot name="body"></slot>
      <div class="dawn-panel-footer text-right">
          <slot name="footer"></slot>
          <div v-if="!hasSlotFooter">
            <dawn-button v-if="secondaryButton != 'false'" class="btn btn-secondary" @click="close">{{secondaryButton}}</dawn-button>
            <dawn-button v-if="primaryButton != 'false'"class="btn btn-primary" @click="close">{{primaryButton}}</dawn-button>
          </div>
      </div>
    </div>
  </transition>
</template>

<script>
  export default {
    name: 'dawn-panel',
    props: {
      show: {
        type: Boolean,
        default: false
      },
      title: {
        type: String,
        required: true
      },
      subtitle: String,
      primaryButton: {
        type: String,
        default: 'Ok'
      },
      secondaryButton: {
        type: String,
        default: 'Cancel'
      }
    },
    data: function () {
      return {
        body: null,
        footer: null
      }
    },
    methods: {
      close: function () {
        this.$emit('close')
      }
    },
    mounted: function () {
      document.addEventListener('keydown', (e) => {
        if (this.show && e.keyCode === 27) {
          this.close()
        }
      })
    },
    computed: {
      hasSlotFooter () {
        return this.$slots.footer
      }
    }
  }
</script>

<style scoped lang="scss">
@import "~@/assets/sass/_variables.scss";

.dawn-panel {
    padding: 1rem 1.5rem;
    @include themify() {
      background: getThemifyVariable('canvas');
    }
    box-shadow:$box-shadow;
    position: fixed;
    width:500px;
    top: 0;
    right: 0;
    margin-top: 0;
    border-radius: 3px 0px 0px 3px;
    z-index: 9999;
    height: 100%;

    h3.title {
      font-weight: $font-weight-extra-bold;
      font-size: $font-size-large;
    }

    p.subtitle {
      font-weight:normal;
      font-size:$font-size-base;
    }
}

.dawn-panel-top {
  text-align: right;
  margin-bottom:-15px;
  
  span.close-icon {
    font-weight: 100;
    color: $ink;
    margin-left: 2rem;
    text-align: right;
    &:hover {
      cursor: pointer;
    }
  }
}

.dawn-panel-body {
    margin: 1rem 0;
}

.text-right {
    text-align: right;
}

.dawn-panel-enter-active, .dawn-panel-leave-active {
  transition: all .6s ease-in-out;
}

.dawn-panel-enter,.dawn-panel-leave-to {
  right:-500px;
}

.dawn-panel-leave,.dawn-panel-enter-to {
  right:0px;
}

</style>