<template>
  <div class="dawn-card">
        <div class="dawn-card-top">
          <slot name="top"></slot>
          <span v-if="!hasSlotTop" class="close-icon" @click="removecard"><i class="fal fa-times"></i></span>
        </div>
        <div class="dawn-card-header">
          <span class="dawn-card-header-icon" v-if="icon">
            <i :class="iconClass"></i>
          </span>
          <span class="dawn-card-header-title">
            <p class="title">
              <slot name="title"></slot>
              <span v-if="!hasSlotTitle">{{title}}</span>
            </p>
            <p class="subtitle" v-if="subtitle">{{subtitle}}</p>
          </span>
        </div>
        <div class="dawn-card-body">
          <slot name="body"></slot>
        </div>
        <div class="dawn-card-footer text-right">
            <slot name="footer"></slot>
            <div v-if="!hasSlotFooter">
              <dawn-button @click="edit" v-if="footerButton != 'false'" button-class="btn btn-actionbar">{{footerButton}}</dawn-button>
            </div>
        </div>
      </div>
  </div>
</template>

<script>
  export default {
    name: 'dawn-card',
    props: {
      id: {
        type: Number,
        default: 1
      },
      title: {
        type: String
      },
      subtitle: String,
      footerButton: {
        type: String,
        default: 'Edit'
      },
      icon: Array
    },
    computed: {
      hasSlotTop () {
        return this.$slots.top
      },
      hasSlotTitle () {
        return this.$slots.title
      },
      hasSlotFooter () {
        return this.$slots.footer
      },
      iconClass () {
        return this.icon[0] + ' fa-' + this.icon[1]
      }
    },
    methods: {
      removecard () {
        var id = this.id
        this.$emit('removecard', id)
      },
      edit () {
        var id = this.id
        this.$emit('edit', id)
      }
    }
  }
</script>

<style scoped lang="scss">
@import "~@/assets/sass/_variables.scss";

.dawn-card {
    float:left;
    width: 280px;
    margin: 0rem 1.5rem 1.5rem 0rem;
    padding: .75rem .65rem .0rem .65rem;
    box-shadow: $box-shadow;
    @include themify() {
      background-color: getThemifyVariable('canvas');
      border-color: getThemifyVariable('background'); 
    }
    transition: all .3s ease;

    p.title {
      font-weight: $font-weight-bold;
      font-size: $font-size-base;
      @include themify() {
        color: getThemifyVariable('primary-05'); 
      }
      margin-bottom: .5em;
    }

    p.subtitle {
      font-size:$font-size-xsmall;
      line-height: 1.2;
      min-height:2.5rem;
    }

    .dawn-card-header {
      display: flex;
      flex-direction:row;
      -webkit-flex-direction: row;
    }

    .dawn-card-header-icon {
      display: inline-block;
      font-size: 1.5rem;
      @include themify() {
        color: getThemifyVariable('ink'); 
      }
      padding: 0rem .5rem 0rem 0rem;

      i {
        vertical-align: top;
      }
    }

    .dawn-card-header-title {
      display: inline-block;
    }
}

.dawn-card-top {
  display: flex;
  justify-content: flex-end;
  margin-bottom:-20px;
  
  span.close-icon {
    font-weight: 100;
    @include themify() {
      color: getThemifyVariable('ink'); 
    }
    margin-left: 2rem;
    &:hover {
      cursor: pointer;
    }
  }

  .form-group {
    margin-bottom: -5px;
  }
}

.dawn-card-body p {
  font-size: $font-size-medium;
  margin-bottom:0;
}

.dawn-card-enter {
  opacity: 0;
}

.dawn-card-leave-active {
  opacity: 0;
}

.dawn-card-enter .dawn-card-container,
.dawn-card-leave-active .dawn-card-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.dawn-card-footer {
  min-height: 3rem;
}


</style>