<template>
  <div class="projects-wrapper">
  	<dawn-tab-nav class="uniform">
      <dawn-tab title="Completed Agenda" :completed="true" :icon="['fal', 'list-alt']">
        <project-agenda />
      </dawn-tab>
      <dawn-tab title="Project Information" :active="true" :icon="['fal', 'clipboard']">
        <project-information />
      </dawn-tab>
      <dawn-tab title="Clients" :icon="['fal', 'address-book']">
        <project-clients />
      </dawn-tab>
      <dawn-tab title="Services" :icon="['fal', 'shopping-basket']">
        <project-services />
      </dawn-tab>
      <dawn-tab title="Design &amp; Layout" :icon="['fal', 'paint-brush']">
        <project-design />
      </dawn-tab>
      <dawn-tab title="Project Settings" :icon="['fal', 'rocket']">
        <project-settings />
      </dawn-tab>
    </dawn-tab-nav>
  </div>
</template>

<script>
import ProjectInformation from '@/components/Projects/new/projectInformation.vue'
import ProjectClients from '@/components/Projects/new/projectClients.vue'
import ProjectAgenda from '@/components/Projects/new/projectAgenda.vue'
import ProjectServices from '@/components/Projects/new/projectServices.vue'
import ProjectDesign from '@/components/Projects/new/projectDesign.vue'
import ProjectSettings from '@/components/Projects/new/projectSettings.vue'

export default {
  name: 'NewProjects',
  components: {
    'project-information': ProjectInformation,
    'project-clients': ProjectClients,
    'project-services': ProjectServices,
    'project-agenda': ProjectAgenda,
    'project-design': ProjectDesign,
    'project-settings': ProjectSettings
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
</style>