<template>
  <dawn-section title="Project Clients" class="active">
    <dawn-form>
      <dawn-card-select field-label="Client" placeholder="Search for a client (Name, City, Eved #)" required multiple :select-options="clients" addButton @addItem="showClientModal = true" @editItem="edit">
        <dawn-modal :show="showClientModal" @close="showClientModal = false" :title="modalTitle">
          <div slot="body">
            <dawn-input v-model="client.name" field-label="Client Name" required />
            <dawn-input v-model="client.city" field-label="City" required />
            <dawn-input v-model="client.state" field-label="State" required />
            <dawn-input v-model="client.country" field-label="Country" required />
          </div>
        </dawn-modal>
      </dawn-card-select>
      <dawn-card-select field-label="Contact" placeholder="Select a contact" required multiple :select-options="contacts" addButton @addItem="showClientModal = true" @editItem="edit">
        <dawn-modal :show="showClientModal" @close="showClientModal = false" :title="modalTitle">
          <div slot="body">
            <dawn-input v-model="client.name" field-label="Client Name" required />
            <dawn-input v-model="client.city" field-label="City" required />
            <dawn-input v-model="client.state" field-label="State" required />
            <dawn-input v-model="client.country" field-label="Country" required />
          </div>
        </dawn-modal>
      </dawn-card-select>
    </dawn-form>
  </dawn-section>
</template>

<script>
export default {
  name: 'project-clients',
  data () {
    return {
      clients: [
        {name: 'Big Pear Inc', number: '13359', city: 'Chicago', state: 'IL', country: 'USA'},
        {name: 'Acme Client, LLC', number: '14459', city: 'Chicago', state: 'IL', country: 'USA'},
        {name: 'Chicago Tribune', number: '15559', city: 'Chicago', state: 'IL', country: 'USA'},
        {name: 'Smith & Abelles, LLC', number: '16659', city: 'Chicago', state: 'IL', country: 'USA'},
        {name: 'Willie Dunnum\'s', number: '17759', city: 'Chicago', state: 'IL', country: 'USA'},
        {name: 'Chowda Chowda Chowda', number: '12345', city: 'Boston', state: 'MA', country: 'USA'},
        {name: 'Fenway Funways', number: '13445', city: 'Boston', state: 'MA', country: 'USA'},
        {name: 'Beantown Beanies', number: '14545', city: 'Boston', state: 'MA', country: 'USA'},
        {name: 'Nick and Pauly\'s', number: '15645', city: 'Boston', state: 'MA', country: 'USA'},
        {name: 'Cafe Allister', number: '16745', city: 'Boston', state: 'MA', country: 'USA'}
      ],
      showClientModal: false,
      client: {},
      contacts: [
        {name: 'Laura Manchester', number: '13359', city: 'Chicago', state: 'IL', country: 'USA'},
        {name: 'Charlie Wendels', number: '14459', city: 'Chicago', state: 'IL', country: 'USA'},
        {name: 'Bob Bobbobob', number: '15559', city: 'Chicago', state: 'IL', country: 'USA'},
        {name: 'Katrina Catrina', number: '16659', city: 'Chicago', state: 'IL', country: 'USA'}
      ]
    }
  },
  methods: {
    edit (client) {
      this.client = client
      this.showClientModal = true
    }
  },
  computed: {
    modalTitle () {
      if (this.client.name) {
        return 'Edit ' + this.client.name
      } else {
        return 'Add New Client'
      }
    }
  }
}
</script>

<style scoped lang="scss">
</style>