<template>
  <dawn-section title="Project Information" class="active">
    <dawn-form class="col-md-6">
      <dawn-input field-label="Project Name" placeholder="Enter a name for your project" required v-model="projectName" autofocus helptip-body="Give your project a name."/>
      <dawn-textarea field-label="Project Description" placeholder="Describe your project. For internal use only." required v-model="projectDescription"/>
      <dawn-select field-label="Program Owner" placeholder="Select a Program Owner" :options="programOwners" required v-model="programOwner" label="name" track-by="name">
        <template slot="option" slot-scope="props">
          <dawn-select-options>
            <p slot="row1" class="select-main">{{ props.option.name }}</p>
            <p slot="row2" class="select-secondary">{{ props.option.title }}</p>
          </dawn-select-options>
        </template>
      </dawn-select>
      <dawn-upload field-label="Attach File" required multiple v-model="attachedFile"/>
      <dawn-field-group field-label="Project Start Date">
        <dawn-select slot="field1" placeholder="Select a start date" :options="projectStartDates" required v-model="projectStartDate">
        </dawn-select>
        <dawn-datepicker v-if="projectStartDate === 'Select a date'" slot="field2" v-model="startDate" width="100%" helptip-body="Give your project a start date." />
      </dawn-field-group>
      <dawn-radio name="privacy" field-label="Privacy Settings" :options="privacy" required />
      <dawn-select field-label="Currency" placeholder="Select a Currency" :options="currencies" required v-model="currency"  helptip-body="Choose a currency for this project."></dawn-select>
      <dawn-switch v-model="ccFee" field-label="Credit Card Fee">
        <dawn-slider v-bind="ccPercent" v-model="ccPercent.value" />
      </dawn-switch>
      <dawn-checkbox name="additional" field-label="Additional Options" :options="additionalOptions" required helptip-body="You may choose more than one option."></dawn-checkbox>
    </dawn-form>
  </dawn-section>
</template>

<script>
import EventBus from '@/event-bus.js'
export default {
  name: 'project-information',
  data () {
    return {
      projectName: null,
      projectDescription: null,
      programOwner: null,
      programOwners: [
        {name: 'Bret Jennings', title: 'Manager'},
        {name: 'Marcy Figoni', title: 'Manager'},
        {name: 'Kendra Schazshow', title: 'Implementation Specialist'},
        {name: 'Tony Lumposki', title: 'Client Services'},
        {name: 'Sabrina Esmarelda', title: 'VP, Implementation'}
      ],
      attachedFile: null,
      projectStartDate: '',
      projectStartDates: ['Select a date', 'TBD'],
      startDate: null,
      privacy: [
        {status: true, label: 'Public'},
        {status: false, label: 'Private'}
      ],
      currency: '',
      currencies: ['USD', 'NIS', 'GBP', 'EUR', 'RUB'],
      ccFee: false,
      ccFeeVal: '',
      ccPercent: {
        value: 1,
        min: 1,
        max: 25,
        disabled: false,
        show: true,
        speed: 0.3,
        reverse: false,
        lazy: true
      },
      additionalOptions: [
        {status: true, label: 'Subscribe to Notifications'},
        {status: false, label: 'Add to Favorites'},
        {status: false, label: 'Additional Services'}
      ]
    }
  },
  methods: {
    switchHandler: function (obj) {
      this.options[obj.idx].status = obj.status
    }
  },
  created: function () {
    EventBus.$on('changeSwitch', this.switchHandler)
  }
}
</script>

<style scoped lang="scss">
</style>