<template>
  <div>
    <dawn-section title="Date Range" class="active">
      <dawn-datepicker field-label="Service Dates" v-model="serviceDates" range/>
    </dawn-section>
  </div>
</template>

<script>
export default {
  name: 'project-services',
  data () {
    return {
      serviceDates: null
    }
  }
}
</script>

<style scoped lang="scss">
</style>