<template>
  <div class="content">
    <div class="container-fluid">
      <div class="card">
        <div class="card-header">
          <h4 class="title">Buttons 
            <span class="component-name">&lt;dawn-button /&gt;</span>
          </h4>
          <p class="component-description">The &lt;dawn-button /&gt is a button.</p>
        </div>
        <div class="card-content">
          <div class="row">
            <div class="col-md-6"><h5 class="section-header">Button Styles</h5>
              <section>
                <p>Primary Action</p>
                <dawn-button button-class="btn btn-primary">Next</dawn-button>
              </section>
              <section>
                <p>Secondary Action</p>
                <dawn-button button-class="btn btn-secondary">Back</dawn-button>
              </section>
              <section>
                <p>Grouped Actions</p>
                <dawn-button button-class="btn btn-secondary">Cancel</dawn-button>
                <dawn-button button-class="btn btn-primary">Save</dawn-button>
              </section>
              <section>
                <p>Actionbar Action</p>
                <dawn-button button-class="btn btn-actionbar">Export</dawn-button>
              </section>
              <section>
                <p>Grouped Actionbar Actions</p>
                <dawn-button button-class="btn btn-actionbar">Delete</dawn-button>
                <dawn-button button-class="btn btn-actionbar">Edit</dawn-button>
                <dawn-button button-class="btn btn-actionbar">Export</dawn-button>
              </section>
            </div>
            <div class="col-md-6"><h5 class="section-header">Button States</h5>
              <section>
                <dawn-button button-class="btn btn-primary">Primary Default</dawn-button>
              </section>
              <section>
                <dawn-button button-class="btn btn-primary disabled">Primary Disabled</dawn-button>
              </section>
              <section>
                <dawn-button button-class="btn btn-secondary">Secondary Default</dawn-button>
              </section>
              <section>
                <dawn-button button-class="btn btn-secondary disabled">Secondary Disabled</dawn-button>
              </section>
              <section>
                <dawn-button button-class="btn btn-actionbar">Toolbar Default</dawn-button>
              </section>
              <section>
                <dawn-button button-class="btn btn-actionbar disabled">Toolbar Disabled</dawn-button>
                <p>Note: Within the current design patterns, a toolbar button would never appear disabled.</p>
              </section>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-md-12"><h5 class="section-header">Button Code</h5>
              <pre>
                <code>
                  // Primary Button
                  &lt;dawn-button button-class=&quot;btn btn-primary disabled&quot;&gt;Primary Disabled&lt;/dawn-button&gt;

                  // Secondary Button
                  &lt;dawn-button button-class=&quot;btn btn-secondary&quot;&gt;Secondary Default&lt;/dawn-button&gt;

                  // Actionbar Button (disabled)
                  &lt;dawn-button button-class=&quot;btn btn-actionbar disabled&quot;&gt;Toolbar Disabled&lt;/dawn-button&gt;
                </code>
              </pre>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
</script>

<style lang="scss">

</style>