<template>
  <div class="form-group">
    <label v-if="fieldLabel">{{fieldLabel}} <span v-if="required"> &nbsp*</span></label>
    <upload-component :auto="true" :drop="true" ref="upload" v-model="files" :multiple="multiple" @input-file="inputFile"/>
    <span class="helptip-wrapper">
      <span class="helptip-icon" v-if="helptipBody" @click="toggleHelp()"><i :class="[showHelp ? hideIcon : showIcon]"></i></span>
      <dawn-input-tooltip :class="{'error-message' : error}" v-if="helptipBody && showHelp || helptipBody && error" :helptipHeader="helptipHeader" :errorTip="error" :helptipBody="helptipBody"></dawn-input-tooltip>
    </span>
    <div class="dawn-file-list" v-for="(file, index) in files" :class="{editing : isEditing(file)}" :key="file.id">
      <!-- <span class="dawn-file-ordering">
        <i class="fal fa-ellipsis-v"></i>
      </span> -->
      <span class="dawn-file-icon" v-html="fileIcon(file.type)">
      </span>
      <input @focus="toggleEdit(file)" @blur="toggleEdit(file)" class="file-upload-item-input" v-focus.lazy="checkIndex(index)" v-model="file.name"/>
      <span class="dawn-file-size">{{formatBytes(file.size,0)}}</span>
      <span class="dawn-remove-file" @click.prevent="$refs.upload.remove(file)">
        <i class="fas fa-times-circle"></i>
      </span>
    </div>
  </div>
</template>

<script>
import FileUploadComponent from './fileUploadComponent.vue'
export default {
  name: 'dawn-upload',
  components: {
    'upload-component': FileUploadComponent
  },
  props: {
    fieldLabel: String,
    required: Boolean,
    multiple: Boolean,
    autofocus: Boolean,
    helptipHeader: String,
    helptipBody: String,
    error: Boolean
  },
  data () {
    return {
      files: [],
      showHelp: false,
      showIcon: 'fas fa-question-circle',
      hideIcon: 'far fa-times-circle'
    }
  },
  directives: {
    focus: {
      inserted: function (el, binding) {
        if (binding.value) el.focus()
        else el.blur()
      },
      componentUpdated: function (el, binding) {
        if (binding.modifiers.lazy) {
          if (Boolean(binding.value) === Boolean(binding.oldValue)) {
            return
          }
        }
        if (binding.value) el.focus()
        else el.blur()
      }
    }
  },
  methods: {
    toggleHelp () {
      this.showHelp = !this.showHelp
    },
    checkIndex (item) {
      if (item === 0) {
        return true
      }
    },
    formatBytes (bytes, decimals) {
      if (bytes === 0) return '0 Bytes'
      var k = 1024
      var dm = decimals || 2
      var sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB']
      var i = Math.floor(Math.log(bytes) / Math.log(k))
      return parseFloat((bytes / Math.pow(k, i)).toFixed(dm)) + ' ' + sizes[i]
    },
    toggleEdit (item) {
      if (item.editing) {
        item.editing = false
      } else {
        item.editing = true
      }
    },
    isEditing (item) {
      return item.editing
    },
    inputFile (newFile, oldFile) {
      if (newFile && oldFile) {
        // update

        if (newFile.active && !oldFile.active) {
          // beforeSend
          // min size
          if (newFile.size >= 0 && this.minSize > 0 && newFile.size < this.minSize) {
            this.$refs.upload.update(newFile, { error: 'size' })
          }
        }

        if (newFile.progress !== oldFile.progress) {
          // progress
        }

        if (newFile.error && !oldFile.error) {
          // error
        }

        if (newFile.success && !oldFile.success) {
          // success
        }
      }

      if (!newFile && oldFile) {
        // remove
        if (oldFile.success && oldFile.response.id) {
          // $.ajax({
          //   type: 'DELETE',
          //   url: '/upload/delete?id=' + oldFile.response.id,
          // })
        }
      }

      // Automatically activate upload
      if (Boolean(newFile) !== Boolean(oldFile) || oldFile.error !== newFile.error) {
        if (this.uploadAuto && !this.$refs.upload.active) {
          this.$refs.upload.active = true
        }
      }
    },
    fileIcon (type) {
      var icon
      var color
      switch (type) {
        case 'image/png':
        case 'image/jpeg':
        case 'image/svg':
        case 'image/svg+xml':
        case 'image/tiff':
        case 'image/webp':
        case 'image/gif':
        case 'image/x-icon':
          icon = 'file-image'
          color = '#4598d9'
          break
        case 'application/pdf':
          icon = 'file-pdf'
          color = '#cb0404'
          break
        case 'video/x-msvideo':
        case 'video/mpeg':
        case 'video/ogg':
        case 'video/webm':
        case 'video/3gpp':
        case 'video/3gpp2':
        case 'video/mp4':
        case 'video/x-ms-wmv':
          icon = 'file-video'
          color = '#dd4a4a'
          break
        case 'audio/aac':
        case 'audio/midi':
        case 'audio/ogg':
        case 'audio/x-wav':
        case 'audio/webm':
        case 'audio/3gpp':
        case 'audio/3gpp2':
        case 'audio/mp3':
          icon = 'file-audio'
          color = '#ff8800'
          break
        case 'text/css':
        case 'text/html':
        case 'application/javascript':
        case 'application/json':
        case 'application/typescript':
        case 'application/xhtml+xml':
          icon = 'file-code'
          color = '#62c14c'
          break
        case 'application/x-7z-compressed':
        case 'application/zip':
        case 'application/x-zip':
        case 'application/x-zip-compressed':
          icon = 'file-archive'
          color = '#acacac'
          break
        default:
          icon = 'file-alt'
          color = '#2591e5'
      }
      return '<i style="color:' + color + '" class="fas fa-' + icon + '"></i>'
    }
  }
}
</script>

<style scoped lang="scss">
@import "~@/assets/sass/_variables.scss"; 

.form-group {
  div.dawn-file-list:nth-child(even){
    @include themify() {
      background: getThemifyVariable('background-light');
      border-color: getThemifyVariable('background-light');
      border-bottom-color: getThemifyVariable('background') 
    } 

    &.editing {
      @include themify() {
        border-color: getThemifyVariable('tertiary-01');
        box-shadow: 0px 0px 0px 1px getThemifyVariable('tertiary-01');
      }
      .dawn-file-ordering, .dawn-remove-file, .dawn-file-size {
        opacity: 0;
      }
    }

  }
  div.dawn-file-list:nth-child(odd){
    @include themify() {
      background: getThemifyVariable('canvas');
      border-color: getThemifyVariable('canvas');
      border-bottom-color: getThemifyVariable('background') 
    }

    &.editing {
      @include themify() {
        border-color: getThemifyVariable('tertiary-01');
        box-shadow: 0px 0px 0px 1px getThemifyVariable('tertiary-01');
      }
      .dawn-file-ordering, .dawn-remove-file, .dawn-file-size {
        opacity: 0;
      }
    }
  }
}

.dawn-file-list {
  position:relative;
  @include themify() {
    background: getThemifyVariable('canvas');
  }
  border: $border-width-default solid;
  padding: .3rem .2rem;
  margin-bottom: 1px;
}

input.file-upload-item-input {
  background: transparent;
  border: none;
  display:inline-block;
  font-size: $font-size-xsmall;
  width:25rem;
  overflow:hidden;
  white-space:nowrap;
  text-overflow:ellipsis;
  &:focus {
    border:none;
    outline-width: 0;
    outline: none;
    @include themify() {
      color: getThemifyVariable('border');
    }
  }
}

.dawn-file-ordering {
  display: inline-block;
  opacity: .5;
  margin-right:.5rem;
}

.dawn-file-icon {
  display: inline-block;
  margin-right:.5rem;
}

.dawn-file-size {
  font-weight: 300;
  font-size: 0.65rem;
  display: block;
  position: absolute;
  right: 4rem;
  top: .55rem;
  text-align: right;
}

.dawn-remove-file {
  font-size: 0.85rem;
  display: block;
  position: absolute;
  right: 1rem;
  top: .45rem;
  text-align: right;
  @include themify() {
    color: getThemifyVariable('primary-05');  
  }
  &:hover {
    @include themify() {
      color: getThemifyVariable('primary-03');  
    }
    cursor: pointer;
  }
}

.helptip-icon {
  &:hover {
    cursor: pointer;
  }
}

.helptip-wrapper {
  display: inline-block;
  position: relative;
  background: transparent;
}

.dawn-input-tooltip {
  top: -110%;
  width: 2600%;
  left: 230%;
}

</style>
