// Import custom font from Google
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,600,600i,700,800,900');

@import '_breakpoints';
@import '_mixins';
@import "_themes";


// Layout Variables
$border-radius: 		.2rem;
$box-shadow: 			0px 4px 5px 0px rgba(0, 0, 0, 0.1);
$side-padding: 			1rem;
$border-width-default:	1px;
$border-default:		$border-width-default solid;

// Override Fonts
$font-family-sans-serif:  'Source Sans Pro', 'Helvetica', 'Arial', sans-serif !default;
$font-family:             $font-family-sans-serif;
$font-family-serif:       Georgia, "Times New Roman", Times, serif !default;
$font-family-monospace:   Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base:        $font-family-sans-serif !default;

$font-size-base: 14px !default;

$font-weight-normal: 400;
$font-weight-semi-bold: 500;
$font-weight-bold: 600;
$font-weight-extra-bold: 700;
$font-weight-ultra-bold: 900;

$font-size-xxlarge:  1.5rem;
$font-size-xlarge:  1.4rem;
$font-size-large:  	1.2rem;
$font-size-medium:   .9rem;
$font-size-small:   .85rem;
$font-size-xsmall:  .75rem;

// Set global options
$enable-shadows:    true;
$enable-gradients:  true;

