/*!
    
 =========================================================
 * VueJs-Layouts - v0.0.1
 =========================================================
 
 * Copyright 2017 Avi Zuber <launchriot@gmail.com>
 * Licensed under MIT or something.
 
 =========================================================
 
 * The above copyright notice and this permission notice shall be 
   included in all copies or substantial portions of the Software,
   I guess.
 
 */

 // Imports
 @import "_variables";

html, body {
  font-family: $font-family-sans-serif;
}

 // Some Bootstrap Layout Overrides
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  max-width: 1200px;
  padding-left:1rem;
  padding-right:1rem;
  transition: all .5s ease-out;
  position:relative;

  @include media("<tablet") {
  	padding:0;
  }
}

.form-check {
  padding-left: 0;
}

// Other Styles

.main-body {
  padding: $side-padding;
}